# کش‌های پایتون
__pycache__/
*.py[cod]
*$py.class

# پوشه‌های دانلود و کوکی‌ها
downloads/
cookies/

# دیتابیس‌ها و فایل‌های جیسون ذخیره وضعیت کاربرها
*.json
cookies_enabled.json
user_langs.json

# متغیرهای محیطی و پسوردها
.env

# کانفیگ‌های rclone (حاوی توکن‌های OAuth - هرگز کامیت نکنید)
rclone.conf
user_configs/
telegram-bot-api-data/
.start.compose.yml
rclone/
